  
    * {
      font-family : "ＭＳ ゴシック";
      font-size : 12px;
    }

    html, body{
        margin: 0;
        padding: 0;
        width:100%;
        height:100%;
        /*font-size: 0.9em;*/
        /*font-family : "sans-serif";*/
        /*font-family : "ＭＳ ゴシック";*/
    }

    .btn {
      cursor : pointer;
      /*font-size : small;*/
      background-color : #888;
      color : #FFF;
      margin-bottom : 1px;
      padding-left : 5px;
    }

    .btn a {
      /*font-size : small;*/
      color : #FFF;
      text-decoration : none;
    }

    .sidebar {
      height:100%;
      width:200px;
      background-color:#CCC;
      position:fixed!important;
      z-index:1;
      overflow:auto
    }

    div#header-fixed
    {
        position: fixed;            /* ヘッダーの固定 */
        top: 0px;                   /* 位置(上0px) */
        left: 0px;                  /* 位置(右0px) */
        width: 100%;                /* 横幅100%　*/
        height: 25px;              /* 縦幅140px */
        padding:0px;       /* 上10px、下20pxをあける */
        background-color:#444;     /* 背景色(黒) */
    }

    div#body-bk{
        /*padding:25px 0 25px 0;*/    /* 上下に160pxを余白を取る */
      position: fixed;
        /*top : 25px;*/
        top : 0px;
        /*bottom : 25px;*/
        bottom : 16px;
        left : 0px;
        right : 0px;
    }
     

    div#footer-fixed
    {
        position: fixed;            /* フッターの固定 */
        bottom: 0px;                /* 位置(下0px) */
        left: 0px;                  /* 位置(左0px) */
        width: 100%;                /* 横幅100%　*/
        /*height: 25px;*/              /* 縦幅140px */
        height: 16px;              /* 縦幅140px */
        background-color:#444;     /* 背景色(黒) */
        padding-left:1px;
    }

    div#footer-fixed-upper
    {
        position: fixed;            /* フッターの固定 */
        bottom: 40px;                /* 位置(下0px) */
        left: 50px;                  /* 位置(左0px) */
        right : 32px;
        /*width: 100%;*/                /* 横幅100%　*/
        width: -webkit-calc(100% - 70px);                /* 横幅100%　*/
        /*height: 25px;*/              /* 縦幅140px */
        /*height: 17px;*/              /* 縦幅140px */
        /*background-color:#888;*/     /* 背景色(黒) */
        background-color:transparent;     /* 背景色(黒) */
        padding-left:1px;
        /*opacity: 0.5;*/
        z-index: 200;
        text-align : right;
        line-height : 20px;
    }



    .ui-autocomplete {
        max-height: 120px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    input {
      /*font-size : 0.7em;
      /*background-color : #000;*/
      /*color : #fff;*/
      font-size : 10px;
    }

    select {
      margin-top:1px;
      font-size : 10px;
      font-family : "ＭＳ ゴシック";
    }

    option {
      font-size : 10px;
      font-family : "ＭＳ ゴシック";
    }

    body {
      background-color: #333;
      color: #fff;
      margin : 0px;
      padding : 0px;
      /* -webkit-user-select: none; */
    }

    img {
      -webkit-app-region: drag;
    }

    span {
      color : black;
    }

    textarea {
      resize : none;
      /* font-family: "ＭＳ ゴシック",sans-serif; */
      /*font-size : 0.7em;*/
    }

    #editor {
        width : 100%;
        /*height : 400px;*/
        /*height : 100%;*/
        height : -webkit-calc(100% - 16px);
        /*font-family : "ＭＳ ゴシック";*/
   }

   .out{
     width: 200px;
     height: 200px;
     /*font-size:0.8em;*/
     font-size:10px;
     opacity : 0;
     color:#FFF;
     -webkit-animation: fadeout 3s linear 0s 1;
   }

   .out_script{
     width: 200px;
     height: 200px;
     /*font-size:0.8em;*/
     font-size:10px;
     opacity : 0;
     color:#FFF;
     -webkit-animation: fadeout 3s linear 0s 1;
   }

    @-webkit-keyframes fadeout {
      0%{
        opacity:0;
      }
      5%{
        opacity:1;
      }
      80% {
        opacity:1;
      }
      100% {
        opacity:0;
      }
    }

    div.ace_dialog {
      z-index: 500;
      background-color:#FFF;
    }
    
    div.ace_dialog-bottom {
      z-index: 500;
      background-color:#FFF;
    }

    .span-button {
      color : #000;
      background-color : #AAA;
      font-size : 10px;
      border : outset;
      cursor : pointer;
      /*font-weight : bold;*/
      opacity : 1.0;
      margin : 1px;
      padding : 0px;
      border-top-color: #DDD;
      border-left-color: #DDD;
      float:right;
      height:8px;
      line-height:8px;
    }

    .span-button:active {
      color : #000;
      background-color : #AAA;
      font-size : 10px;
      border : inset;
      cursor : pointer;
      /*font-weight : bold;*/
      opacity : 1.0;
      margin : 1px;
      padding : 0px;
      border-top-color: #DDD;
      border-left-color: #DDD;
      float:right;
      height:10px;
      line-height:8px;
    }

    .span-button-script {
      color : #000;
      background-color : #AAF;
      font-size : 10px;
      border : outset;
      cursor : pointer;
      /*font-weight : bold;*/
      opacity : 1.0;
      margin : 1px;
      padding : 0px;
      border-top-color: #DDD;
      border-left-color: #DDD;
      float:right;
      height:8px;
      line-height:8px;
    }

    .span-button-script:active {
      color : #000;
      background-color : #AAF;
      font-size : 10px;
      border : inset;
      cursor : pointer;
      /*font-weight : bold;*/
      opacity : 1.0;
      margin : 1px;
      padding : 0px;
      border-top-color: #DDD;
      border-left-color: #DDD;
      float:right;
      height:8px;
      line-height:8px;
    }


