  
html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

select {
  margin-top:1px;
  font-size : 10px;
  font-family : "ＭＳ ゴシック";
  font-size:10px;
  background-color:#444;
  color:#FFF
}

option {
  font-size : 10px;
  font-family : "ＭＳ ゴシック";
}


img {
  -webkit-app-region: drag;
}

span {
  color : black;
}

textarea {
  resize : none;
}

/* .sidebar { */
/*   height:100%; */
/*   width:200px; */
/*   background-color:#CCC; */
/*   position:fixed!important; */
/*   z-index:1; */
/*   overflow:auto */
/* } */

.fixed {
  position : fixed;
}

.header-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  padding:0px;
  background-color:#444;
}

.footer-fixed {
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 16px;
  background-color:#444;
  padding-left:2px;
  font-family : "ＭＳ ゴシック";
  font-size : 12px;
}

.footer-fixed-upper {
  left: 50px;
  right : 32px;
  bottom: 40px;
  width: -webkit-calc(100% - 70px);
  background-color:transparent;
  padding-left:1px;
  z-index: 200;
  text-align : right;
  line-height : 20px;
  pointer-events : none;
}

.editor {
  width : 100%;
  height : -webkit-calc(100% - 16px);
}

.out{
  width: 200px;
  height: 200px;
  font-size:10px;
  opacity : 0;
  color:#FFF;
  -webkit-animation: fadeout 3s linear 0s 1;
  font-family : "ＭＳ ゴシック";
}

.out_script{
  width: 200px;
  height: 200px;
  font-size:10px;
  opacity : 0;
  color:#FFF;
  -webkit-animation: fadeout 3s linear 0s 1;
  font-family : "ＭＳ ゴシック";
}

@-webkit-keyframes fadeout {
  0%{
    opacity:0;
  }
  5%{
    opacity:1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

div.ace_dialog,div.ace_dialog-bottom {
  z-index: 500;
}

.span-button {
  font-size : 11px;
  border : solid 1px;
  cursor : pointer;
  margin : 1px;
  padding : 0px;
  padding-left : 1px;
  padding-right : 1px;
  float:left;
  height:10px;
  line-height:11px;
  font-family : "ＭＳ ゴシック";
  pointer-events : auto;
  font-weight : bold;
}

.span-button:active {
  color : #FFF;
  background-color : #000;
}

.span-button-shell {
  color : #000;
  background-color : #CCC;
}

.span-button-script {
  color : #000;
  background-color : #AAF;
}

.icon-button {
  font-size:9px;
  cursor:pointer
}

.button-container {
  height:100%;
  float:right
}

