  
html, body{
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

.btn {
  cursor : pointer;
  background-color : #888;
  color : #FFF;
  margin-bottom : 1px;
  padding-left : 5px;
}

.btn a {
  color : #FFF;
  text-decoration : none;
}

.sidebar {
  height:100%;
  width:200px;
  background-color:#CCC;
  position:fixed!important;
  z-index:1;
  overflow:auto
}

div#header-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  padding:0px;
  background-color:#444;
}

div#body-bk{
  position: fixed;
  top : 0px;
  bottom : 16px;
  left : 0px;
  right : 0px;
}

div#footer-fixed
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 16px;
  background-color:#444;
  padding-left:1px;
  font-family : "ＭＳ ゴシック";
  font-size : 12px;
}

div#footer-fixed-upper
{
  position: fixed;
  bottom: 40px;
  left: 50px;
  right : 32px;
  width: -webkit-calc(100% - 70px);
  background-color:transparent;
  padding-left:1px;
  z-index: 200;
  text-align : right;
  line-height : 20px;
  pointer-events : none;
}

.ui-autocomplete {
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

input {
  font-size : 10px;
}

select {
  margin-top:1px;
  font-size : 10px;
  font-family : "ＭＳ ゴシック";
}

option {
  font-size : 10px;
  font-family : "ＭＳ ゴシック";
}

body {
  background-color: #333;
  color: #fff;
  margin : 0px;
  padding : 0px;
}

img {
  -webkit-app-region: drag;
}

span {
  color : black;
}

textarea {
  resize : none;
}

#editor {
  width : 100%;
  height : -webkit-calc(100% - 16px);
}

.out{
  width: 200px;
  height: 200px;
  font-size:10px;
  opacity : 0;
  color:#FFF;
  -webkit-animation: fadeout 3s linear 0s 1;
  font-family : "ＭＳ ゴシック";
}

.out_script{
  width: 200px;
  height: 200px;
  font-size:10px;
  opacity : 0;
  color:#FFF;
  -webkit-animation: fadeout 3s linear 0s 1;
  font-family : "ＭＳ ゴシック";
}

@-webkit-keyframes fadeout {
  0%{
    opacity:0;
  }
  5%{
    opacity:1;
  }
  80% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

div.ace_dialog {
  z-index: 500;
  background-color:#FFF;
}

div.ace_dialog-bottom {
  z-index: 500;
  background-color:#FFF;
}

.span-button {
  color : #000;
  background-color : #AAA;
  font-size : 10px;
  border : outset;
  cursor : pointer;
  opacity : 1.0;
  margin : 1px;
  padding : 0px;
  border-top-color: #DDD;
  border-left-color: #DDD;
  float:right;
  height:8px;
  line-height:8px;
  font-family : "ＭＳ ゴシック";
  pointer-events : auto;
}

.span-button:active {
  color : #000;
  background-color : #AAA;
  font-size : 10px;
  border : inset;
  cursor : pointer;
  opacity : 1.0;
  margin : 1px;
  padding : 0px;
  border-top-color: #DDD;
  border-left-color: #DDD;
  float:right;
  height:10px;
  line-height:8px;
  font-family : "ＭＳ ゴシック";
  pointer-events : auto;
}

.span-button-script {
  color : #000;
  background-color : #AAF;
  font-size : 10px;
  border : outset;
  cursor : pointer;
  opacity : 1.0;
  margin : 1px;
  padding : 0px;
  border-top-color: #DDD;
  border-left-color: #DDD;
  float:right;
  height:8px;
  line-height:8px;
  font-family : "ＭＳ ゴシック";
  pointer-events : auto;
}

.span-button-script:active {
  color : #000;
  background-color : #AAF;
  font-size : 10px;
  border : inset;
  cursor : pointer;
  opacity : 1.0;
  margin : 1px;
  padding : 0px;
  border-top-color: #DDD;
  border-left-color: #DDD;
  float:right;
  height:8px;
  line-height:8px;
  font-family : "ＭＳ ゴシック";
  pointer-events : auto;
}

